.l-header {
  @include size($height: rem(65px));
  background-color: inherit;
  font-family: gothamBold;
  font-size: rem(15px);

  &__navbar {
    height: inherit;
    padding: 0 rem(24px);
    position: relative;

    // breakpoint
    @include breakpoint(lg) {
      margin: 0 auto;
      padding: 0;
      width: 80%;
    }
  }

  &__logo {
    img {
      height: rem(42px);
      transition: .6s;
	  }
  }

  &__menu {
    margin-left: auto;

    &-mobile {
      align-items: center;
      background: $primary-color;
      display: none;
      left: 50%;
      padding: rem(25);
      position: absolute;
      transform: translateX(-50%);
      width: 100%;
      z-index: 1;

      a {
        margin: 0;
        margin-bottom: rem(25px);
      }
    }
  }

  &__link {
    color: $secondary-color;
    margin-right: rem(50px);
    text-align: center;
    transition: color 200ms ease-in-out;

    &:hover {
      color: $accent-color-3;
      text-decoration: underline;
    }
  }

  &__cta {
    border-width: rem(2px);
    font-size: rem(15px);
    margin-left: rem(10px);

    &:hover {
      background: $accent-color-2;
      color: $accent-color-1 !important;
      text-decoration: none !important;
      transition: color .6s ease-in-out;
    }
  }
}

.l-hero {
  background: $accent-color-2;
  background-image: url($banner-img);
  background-position: center rem(150px);
  background-repeat: no-repeat;
  height: rem(500px);
  overflow: hidden;

  // breakpoint
  @include breakpoint(lg) {
    background-image: none;
  }

  &__container {
    @include size(80%, 100%);
    display: block;
    margin: auto;
    position: relative;
    text-align: center;

    // breakpoint
    @include breakpoint(lg) {
      @include flexbox($main: space-between, $cross: center);
	  }
  }

  &__message {
    @include abs-position(rem(90px), auto, auto, 50%);
    color: $primary-color;
    font-size: rem(45px);
    letter-spacing: rem(3px);
    line-height: rem(43px);
    text-shadow: 0 0 $accent-color-2;
    transform: translateX(-50%);
    width: 100%;

    // breakpoint
    @include breakpoint(lg) {
      position: static;
      text-align: left;
      transform: none;
	  }
  }

  &__cta-wrapper {
    // breakpoint
    @include breakpoint(lg) {
      margin-top: 1rem;
      width: 100%;
	  }
  }

  &__cta {
    border-color: $primary-color;

    // breakpoint
    @include breakpoint(lg) {
      font-size: rem(15);
	  }

    &:hover {
      background: $accent-color-3;
      border-color: $accent-color-3;
      color: $accent-color-1;
	  }

    &:first-child {
      // breakpoint
      @include breakpoint(lg) {
        margin-right: rem(13);
	    }
	  }
  }

  &__banner {
    width: 65%;
  }
}

.l-cta-section {
  text-align: center;

  &__order {
    padding-bottom: rem(30px);
    padding-top: rem(5px);

    div {
      margin: auto;
      // breakpoints
      @include breakpoint(xxs) {
        width: 90%;
	    }
      // breakpoint
      @include breakpoint(xs) {
        width: 95%;
	    }
      // breakpoint
      @include breakpoint(md) {
        width: 80%;
	    }
	}

    .c-btn-secondary {
      border-radius: 0;
      flex: 1;
      font-size: rem(15px);
      padding: rem(15px);

      &:first-child {
        margin-right: rem(10);
	    }

      &:hover {
        background: lighten($accent-color-2, 10%);
	    }
	  }
  }

  &__reward {
    border: rem(2px) solid $accent-color-1;
    color: $secondary-color;
    font-family: gothamBook;
    font-weight: bold;
    padding: rem(20px) 0;

    p {
      font-family: gothamBold;
      margin-bottom: rem(10px);
	  }

    a {
      &:not(.c-btn-secondary) {
        border-bottom: rem(1px) solid $accent-color-2;
        color: $accent-color-2;
      }

      &:hover {
        border-bottom: rem(1px) solid lighten($accent-color-2, 20%);
        color: lighten($accent-color-2, 30%);
	    }
    }

    div {
      padding: 0;
      width: rem(640px);
	  }

    .c-input {
      flex: 2;
      padding-right: rem(250px);
    }

    .c-btn-secondary {
      @include flexbox($main: center, $cross: center);
      $color: #fff;
      color: $color;
      flex: 1;
      margin-left: rem(-150);
      padding: rem(9px) rem(20px);

      &:hover {
        background: $accent-color-3;
        border-color: $accent-color-1;
        color: $accent-color-1;
	    }
	  }
  }
}

.l-main {
  // breakpoint
  @include breakpoint(md) {
    padding-bottom: rem(100px);
  }

  &__favorites {

    &-header {
      color: $secondary-color;
      margin: 0;
      padding-bottom: rem(20px);
      padding-top: rem(50px);
      text-align: center;
	  }

    &-content {
      margin: auto;
      width: 80%;
      // breakpoints
      @include breakpoint(sm) {
        @include flexbox($direction: row !important, $main: space-evenly, $wrap: wrap);
	    }

      @include breakpoint(md) {
        justify-content: space-between;
	    }

      @include breakpoint(lg) {
        width: 80% !important;
	    }
	  }

    .c-fav-card {
      // breakpoints
      @include breakpoint(sm) {
        flex-basis: 40%;
       }

      @include breakpoint(md) {
        flex-basis: 23.5%;
      }
  	}
  }

  &__promos {
    padding-top: rem(50px);

    &-header {
      color: $secondary-color;
      margin-bottom: rem(20px);
      text-align: center;
		}

    &-content {
      margin: auto;
      width: 90%;

      // breakpoint
      @include breakpoint(lg) {
        width: 80% !important;
        flex-direction: row !important;
        flex-wrap: wrap;
      }
    }
  }

  &__delivery {

    &-section-1 {
      padding: rem(50px) 0;
      // breakpoint
      @include breakpoint(lg) {
        padding-top: rem(25px) !important;
      }

      &-container {
        border: rem(2px) solid $accent-color-4;
        border-radius: rem(25px);
        color: $accent-color-4;
        margin: auto;
        padding: rem(30px);
        text-align: center;
        width: 90%;
        // breakpoints
        @include breakpoint(sm) {
          width: 60% !important;
        }

        @include breakpoint(md) {
          width: 50% !important;
        }
      }

      h2 {
        margin-bottom: rem(20px);
      }
  
      p {
        font-family: gothamBold;
        margin-bottom: rem(25px);
        text-align: center;
      }
  
      &-cta {
        border-bottom: rem(3px) solid lighten($accent-color-4, 50%);
        color: $accent-color-4;
        font-family: gothamBook;
        padding-bottom: 0;
  
        &:hover {
          border-bottom: rem(3px) solid darken($accent-color-4, 10%);
          color: darken($accent-color-4, 50%);
        }
      }

    }

    &-section-2 {
      background: $accent-color-1;
      color: $secondary-color;
      padding-bottom: rem(50px);
      padding-top: rem(20px);
      // breakpoint
      @include breakpoint(md) {
        flex-direction: row-reverse !important;
        height: rem(350px);
        margin-top: rem(40px);
      }

      img {
        width: 50%;
      }

      &-cta-wrapper {
        margin-bottom: rem(17px);
        max-height: rem(80px);
        width: 100%;
 
        // breakpoint
        @include breakpoint(md) {
					justify-content: flex-start !important;
				}

        img {
          margin-right: rem(15px);
          width: 25%;
  
          // breakpoint
          @include breakpoint(md) {
            width: 15% !important;
          }
  
          &:hover {
            cursor: pointer;
          }
        }
      }

      &-container {
        margin: auto;
        text-align: center;
        // breakpoint
        @include breakpoint(md) {
          flex-basis: 60%;
          text-align: left !important;
        }

        h1 {
          font-size: rem(32px);
          margin-bottom: rem(15px);
        }

        p {
          margin-bottom: rem(20px);
        }

        h1 + p {
          font-family: gothamBook;
        }

        h1 + p > b, 
        h1 + p + p {
          font-family: gothamBold;
        }
      }

      &-phone-wrapper {
        // breakpoint
        @include breakpoint(md) {
          flex-basis: 40%;
          margin-right: rem(20);
        }
      }

      &-phone {
        // breakpoint
        @include breakpoint(md) {
          margin-left: auto;
          position: relative;
          top: rem(10px);
          width: 40% !important;
        }
      }

    }
  }
}

.l-footer {
  background: $secondary-color;
  padding: rem(50px) rem(20px);
  text-align: center;

  a,
  p {
    color: $accent-color-1;
	}

  &__menu {
    line-height: rem(30px);
    // breakpoint
    @include breakpoint(md) {
      flex-direction: row !important;
		}
  }

  &__link {
    font-family: gothamBold;

    &:hover {
      text-decoration: underline;
    }

    &:not(:last-child) {
      @include breakpoint(md) {
        margin-right: rem(40px);
      }
    }
  }

  &__copy-right {
    font-family: gothamBook;
    margin-top: rem(50px);

    @include breakpoint(md) {
      font-size: rem(13px);
		}
	}

}
